
  /* Estilos generales de la card */
  .card {
    width: 90%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: -3px 2px 18px 8px #11101045;
    
  }

  /* Estilos de la card al hacer hover */
  .card:hover {
    background-color: #e2e0e0; /* Cambia el color de fondo al hacer hover */
    transform: translateY(-10px); /* Efecto de desplazamiento hacia arriba */
  }

  /* Estilos para el texto de la card al hacer hover */
  .card:hover .card-body {
    color: #2b2929; /* Cambia el color del texto dentro de la card */
  }

  .bg-secondary
  {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
  }